:root {
    --header-font-size: 54px;
}

@font-face {
    font-family: 'hanzo';
    src: url('fonts/hanzo_italic.woff2') format('woff2'),
         url('fonts/hanzo_italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'hanzo';
    src: url('fonts/hanzo.woff2') format('woff2'),
         url('fonts/hanzo.woff') format('woff');
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: hanzo, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 14px;
}

h1 {
    font-size: var(--header-font-size);
}

a {
    color: white;
}

body {
    display: flex;
    width: auto; height: 100vh;
}

#sidehead {
    background-image: url('bg-image.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#interface {
    flex: 6;
}

.spacer {
    flex: auto;
}

.content {
    flex: 6 1 auto;
    min-width: 700px;
}

#sidehead > .header, #sidehead > .footer {
    width: 100%;
    background-color: rgba(0,0,0,.4);
    text-align: center;
}

#sidehead > .header {
    padding: 2rem 0;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidehead > .footer {
    margin-top: auto;
    padding: .5rem;
}

#logo {
    height: calc(var(--header-font-size, 4rem) * 1.5);
    width: auto;
    margin: 0 .5rem;
}