@font-face {
    font-family: 'hanzo';
    src: url('fonts/hanzo_italic.woff2') format('woff2'),
         url('fonts/hanzo_italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'hanzo';
    src: url('fonts/hanzo.woff2') format('woff2'),
         url('fonts/hanzo.woff') format('woff');
    font-style: normal;
}

:root {
    --header-font-size: 70px;
    --highlight-color: #506b7e;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: hanzo, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 22px;
    list-style: none;
    appearance: none;
}

body {
    display: flex;
    width: auto; height: 100vh;
}

body > .spacer {
    flex: auto;
}

body > .content {
    flex: 10 1 auto;
    display: flex;
}

#sidehead {
    display: flex;
    background: url('bg-image.png') no-repeat center;
    background-size: cover;
    min-width: 35vw; height: 100vh;
    flex-direction: column;
    align-items: center;
}

#sidehead * {
    color: #fff;
    font-size: .5rem;
}

#sidehead h1 {
    font-size: var(--header-font-size);
}

#sidehead > .header {
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 2rem 0;
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sidehead > .footer {
    margin: auto 0 .5rem 0;
    background-color: rgba(0,0,0,.4);
    padding: 2px;
    text-align: center;
}

#logo {
    height: calc(var(--header-font-size, 4rem) * 1.5);
    width: auto;
    margin: 0 .5rem;
}

#interface {
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

#interface > * {
    flex: 1;
    margin: 1rem;
}

#interface > .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#interface > .user-form {
    background-color: #fff;
    margin: 0;
    padding: 1rem;
}

#interface > .user-form, button {
    box-shadow: 0 2px 4px .5px rgba(0,0,0,.2);
}

form > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

form > ul > li {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.33%;
}

legend {
    margin-bottom: .6rem;
}

label {
    font-size: .5rem;
    letter-spacing: .5px;
}

input {
    border: 1px solid black;
    border-radius: 6px;
    font-size: .8rem;
    padding: .2rem;
    outline: none;
}

button {
    background-color: var(--highlight-color, darkslategrey);
    color: #fff;
    padding: .5rem;
    border: none;
    border-radius: 6px;
}

.complete div {
    margin: 1rem 0;
}

.complete a {
    text-decoration: none;
    color: var(--highlight-color, darkslategrey)
}

input:hover,
button:hover {
    background-color: #0000000c;
}

input:focus {
    border: 1px solid var(--highlight-color, darkslategrey);
    box-shadow: 0 2px 4px .5px rgba(0,0,0,.2);
}

input:not(:placeholder-shown):invalid {
    border: 2px solid #cd4336;
}
